# H1: Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Learn to write headings
- Ordered list of data science tools
- A table of data science tools
- Samples of arithmetic expressions
- See **bold** font

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy
4. matplotlib

| Data Science Tools |
----------------------
| MySQL |
| MongoDB |
| Apache |

### H3: Below are a few examples of evaluating arithmetic expressions in Python:

In [16]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [17]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

CÃ©sar Ruiz